a { color:gray } /* Globally */

/* Each state */
/*
a:visited { text-decoration: none; color: gray; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color: white; }*/


html, body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
}
header {
  display: block;
  width: 100%;
}
.subpage {
  width: 100%;
  min-height: 43.75rem;
  height: 100%;
  /*background-image: url(../assets/Inspiration/inspiration5.jpg);*/
  max-width: 1980px;
  background-attachment: fixed;
  display: relative;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: black;
}

nav {
padding: 0.1rem 0;
margin-bottom: 50px;
}

.homepage nav{
  margin-bottom: 100px;
}
nav ul {
padding: 0;
margin-left: 1.5rem;
align: right;
}
nav li {
  font-size: 1.2rem;
  list-style-type: none;
  display: inline;
  padding-right: 1rem;
}
nav ul ul {
	display: none;
}

nav ul li:hover > ul {
		display: block;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 10px;
    z-index: 1;
    background-color: black;
	}

nav a {
  color: #fff;
  text-decoration: none;
}
.hpsection{
  margin-bottom: 120px;
  max-width: 100%;
}
.main {
  max-width:60rem;
  margin: 0 auto;
  background-color: black;
  opacity: 0.90;
  color: white;
  padding: 1rem;
}

.main h1{
  margin-top: 0;
}
.homepage {
background-image: url(../images/header_img1.jpg);
height: 100%
max-width: 1980px;
background-attachment: fixed;
/*display: relative;*/
background-position: center;
background-size: cover;
margin: 0 auto;
}
.positioning-header {
  padding-top: 5rem;
}
.welcome-text {
  max-width: 100%;
  width: 70rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  opacity: 0.90;
}
.welcome-text h1 {
  font-size: 3rem;
  line-height: 3rem;
}

.get-started {
  padding: 0.5rem 0.7rem;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 4px;
}

.get-started:hover {
  text-decoration: underline;
  color: #000

}

.places-link {
  color: #fff;
  text-decoration: none;
}
.places-link:hover {
  text-decoration: underline;
}


legend {
  font-size: 1.7rem;
  text-align: center;
}
fieldset {
  border: none;
}

footer, .push {
  height: 1.1875rem;
}
footer {
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  margin-top: 15.625rem;
  font-size: 0.75rem;
  opacity: 0.90;
}

.bio{
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

.bio img {
  border: 4px solid white;
  margin-bottom: 35px;
}

.bioInfoBox{
  margin-top: 30px;
}
.bioInfoBox h2{
  text-align: center;
}

li a, footer a {
  color: white;
  text-decoration: none;
}

li a:hover, footer a:hover {
    color: rgb(105,190,40);

}

.main li a {
  font-size: 1.5rem;
}

.button {
  background: white;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: black;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#log-out {
  color: white;
}

.button:hover {
  background: rgb(105,190,40);
  background-image: -webkit-linear-gradient(top, rgb(105,190,40), rgb(105,190,40));
  background-image: -moz-linear-gradient(top, rgb(105,190,40), rgb(105,190,40));
  background-image: -ms-linear-gradient(top, rgb(105,190,40), rgb(105,190,40));
  background-image: -o-linear-gradient(top, rgb(105,190,40), rgb(105,190,40));
  background-image: linear-gradient(to bottom, rgb(105,190,40), rgb(105,190,40));
  text-decoration: none;
}

#login-form fieldset {
  float: left;
}

fieldset select {
  background-color: white;
}

p button {
  background-color: white;
}
/****************For Desktop****************/
/****************For Desktop****************/
/****************For Desktop****************/
/****************For Desktop****************/
/****************For Desktop****************/
@media screen and (min-width: 768px) {
  .welcome-text {
    width: 50rem;
    padding: 2rem 5rem;
  }
  #login-form fieldset {
    float: right;
    margin-top: -3em;
  }
}
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 250px;
  margin: 0 3em 2em 3em;
  position: relative;
  width: 250px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

span.text-content span {
  display: table-cell;
  text-align: justify;
  vertical-align: middle;
  padding: 5px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 250px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 250px;
  opacity: 0;
}
ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
   font: 600 16px/20px "Helvetica", Sans-Serif;
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 250px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 250px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 img {
   border: 2px solid black;
 }

.bio {
  margin: 7% 0% 7% 0%;
}
.aboutPic {
  max-width: 27%;
  max-height: 20%;
  margin-right: 5%;
  opacity: 100;
}


.concept {
  margin-top: 5%;
}
html {
  /*background-color: red;*/
  background-image: url('images/mainBackground.jpg');
}

ol {
  text-align: center;
  width:200px;
  margin:0 auto;
}
.button {
  background: #white;
  background-image: -webkit-linear-gradient(top, #white, #2980b9);
  background-image: -moz-linear-gradient(top, #white, #2980b9);
  background-image: -ms-linear-gradient(top, #white, #2980b9);
  background-image: -o-linear-gradient(top, #white, #2980b9);
  background-image: linear-gradient(to bottom, #white, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 2px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: black;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#log-out {
  color: white;
}

.button:hover {
  background: rgb(105,190,40);
  background-image: -webkit-linear-gradient(top, rgb(105,190,40), rgb(105,190,40));
  background-image: -moz-linear-gradient(top, rgb(105,190,40), rgb(105,190,40));
  background-image: -ms-linear-gradient(top, rgb(105,190,40), rgb(105,190,40));
  background-image: -o-linear-gradient(top, rgb(105,190,40), rgb(105,190,40));
  background-image: linear-gradient(to bottom, rgb(105,190,40), rgb(105,190,40));
  text-decoration: none;
}

.form-results h2 {
  text-align: center;
}
.hidden {
  display: none; }
/*FOR KIMMERS GAME*/
#movieIMG p{
  font-size: 32px;
}
/*FOR KIMMERS GAME*/
#movieIMG button {
  padding: 10px 15px 10px 15px;
  font-size: 18px;
}
/*FOR KIMMERS GAME*/
#movieIMG input{
  padding: 14px 15px 10px 15px;
}
/*FOR KIMMERS GAME*/
#movieIMG input::placeholder{
  font-size: 14px;
}

footer {
  background-color: #000;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.logo {
  position: absolute;
  width: 15rem;
  height: 5rem;
  max-width: 100%;
  left: 42rem;
  top: 1rem;
}
