/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }

}
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}


//for screens smaller than 456px
@media only screen and (max-width: 456px) {
  h1 {
    font-size: 2em;
  }
  .icon-camera {
    font-size: 1.8em;
  }
  .icon-menu {
    font-size: 2em;
  }
  header p {
    font-size: 1em;
    right: 56px;
    bottom: 32%
  }
  #menu.active {
    li {
      margin: 0 3vw;
    }
  }
}
for screens larger than 640px
@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  #menu {
  display: inline-block;
  position: absolute;
  right: 85px;
  bottom: 38%;
    li {
      display: inline-block;
      margin-right: 10px;
    }
  }
  header p {
    right: 15px;
  }
}
